language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '8'
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - npm run migrate
after_success:
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
services:
  - postgresql
env:
  - DB_NAME=travis_ci_test DB_USER=postgres
addons:
  postgresql: "9.5"
